html
  head
    link(rel="stylesheet" href="assets/stylesheet/style.css")
  body
    h1 Grays Online Cars
    .displayFlex
      each c in cars
        .contianer
          img.image(src=c.image)
          .middle
            .text= c.price
            a(href="https://www.graysonline.com" + c.link).text View
