html
  head
    link(rel="stylesheet" href="assets/stylesheet/style.css")
  body
    h1 Gumtree Listings
    h2= page
    .displayFlex.flexWrap
      each c in cars
        .listing
          h3= c.title
          .displayFlex.gumPrice
            p.item Gumtree Price
            p.item= c.price
          .displayFlex.guidePrice
            p.item Cars Guide Avg.
            p.item= "$" + c.recPrice
          a.links(href="https://www.gumtree.com.au" + c.link)
            .btn visit ad
          a(href="https://www.carsguide.com.au/" + c.brand + "/" + c.model + "/price/" + c.year).links
            .btn cars guide
