extends layout

block content
  //.content
    //h2 How we work -
    //p The way we deal with new clients is nothing difficult. When you select a specific website type that you are interested in, you'll be directed to forward us your details and a brief explanation of what you want to our database. We will contact you back through your preferred option almost immediately.
  .content
    h1 Pricing
    p Below is a narrow option of what's available, but don't worry! We will let you tell us what you want.
    .displayFlex.flexWrap
      #cont1.container
        .title
          h2 Splash Page
        img.imgRes.flexGrow(src="assets/images/lightlaptop.jpg")
        .inclusioins
          h3 Includes
          hr
          p Landing Page
          p Required Hosting
          p Custom Graphics
        .btn
          h3 Enquire Now
          span <strong>$80</strong> +$15/month
      #cont2.container
        .title
          h2 Blog Website
        img.imgRes.flexGrow(src="assets/images/lebuzz.jpg")
        .inclusioins
          h3 Includes
          hr
          p Multiple Pages
          p Admin Panel
          p UX Flow
        .btn
          h3 Enquire Now
          span <strong>$250</strong> +$25/month
      #cont3.container
        .title
          h2 Advanced Website
        img.imgRes.flexGrow(src="assets/images/phone.jpg")
        .inclusioins
          h3 Includes
          hr
          p Commerce Friendly
          p Secure User Logins
          p UX Flow
        .btn
          h3 Enquire Now
          span <strong>$800</strong> +$60/month
    script.
      var user = !{users};
      console.log(user);
