html
  head
    title Instagram
    link(rel="stylesheet" href="/assets/stylesheet/style.css")
    link(rel="stylesheet" href="/assets/stylesheet/mobile.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto|Rozha+One" rel="stylesheet")
  body
  include include/header.pug
  .nav
    block content
  include include/contact.pug
  script(src="assets/javascript/jquery.min.js")
  script(src="assets/javascript/script.js")
