#myModal.modal
  .modal-content
    span.close &times;
    h1 Enquire
    form(method="POST" action)
      input(name="name" type="string" placeholder="Preferred Name" required)
      input(name="email" type="email" placeholder="E-mail" required)
      input(name="phone" type="tel" placeholder="Phone Number" required)
      textarea(name="message" placeholder="What best describes your website?" required)
      button(type="submit") Done
h1 Enquire
form(method="POST" action="/")
  input(name="name" type="string" placeholder="Preferred Name" required)
  input(name="email" type="email" placeholder="E-mail" required)
  input(name="phone" type="tel" placeholder="Phone Number" required)
  textarea(name="message" placeholder="What best describes your website?" required)
  button(type="submit") Enquire
