.mobile p{
  font-size: 28px;
}
.mobile h1{
  font-size: 64px;
}
.mobile h2{
  font-size: 48px;
}
.mobile h3{
  font-size: 39px;
}
.mobile #logo{
  font-size: 48px;
}
.mobile .container{
  margin: 20px 40px;
  width: calc(100% - 30px);
}
.mobile .btn{
  width: calc(100% - 74px);
  margin: 15px;
  height: auto;
}
.mobile .imgRes{
  height: 350px;
}
.mobile ul{
  width: calc(100%- 80px);
}
.mobile ul a{
  padding: 0 15px;
  font-size: 26px;
}
.mobile .content{
  padding: 15px;
}
