body{
  font-family: Brandon Grotesque;
}
.listing{
  max-width: calc(100%/3  - 20px);
  color: #373737;
  margin: 10px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.displayFlex{
  display: flex;
}
.flexGrow{
  flex: 1;
}
.flexWrap{
  flex-wrap: wrap;
}
h3{
  background: #f9f9f9;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
}
a{
  color: inherit;
  text-decoration: none
}
.btn:hover{
  background: #999;
  color: #eee;
}
.btn{
  transition: 0.3s;
  background-color: #373737;
  padding: 10px;
  color: #f4f4f4;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.item{
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #373737;
  padding: 10px;
}
p{
  margin: 0;
  padding: 0;
}
h1{
  text-transform: uppercase;
  text-align: center;
  margin: 50px;
}
#cg{
  background: cyan;
}
.links{
  width: 50%;
}
